/* punya app.blade.php */
.grid-highlight {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #5c6ac4;
    border: 1px solid #202e78;
    color: #fff;
}

hr {
    margin: 2rem 0;
}

hr+.display-3,
hr+.display-2+.display-3 {
    margin-bottom: 2rem;
}

/* punya app.blade.php */

.mt-6, .my-6{ margin-top:4rem !important}
.mt-7, .my-7{ margin-top:5rem !important}
.mt-8, .my-8{ margin-top:6rem !important}
.mt-9, .my-9{ margin-top:7rem !important}
.mt-10, .my-10{ margin-top:8rem !important}

.brand {
    font-size: 16px;
}

.text-small {
    font-size: 0.9rem;
    font-weight: normal !important;
}

.text-middle {
    vertical-align: middle !important;
}

.btn-xs {
    padding: .20rem .5rem;
    font-size: .8rem;
    /* text-transform: lowercase; */
    line-height: 1.5;
    border-radius: .1rem
}